[access]
	inheritFrom = All-Projects
[project]
	description = Utility lib for Automated Speech Recognition based on Baidu REST API
[access "refs/*"]
	owner = group user/mimepp
[access "refs/for/refs/*"]
	read = group user/mimepp
	push = group user/mimepp
	label-Code-Review = -2..+2 group user/mimepp
	label-Verified = -1..+1 group user/mimepp
	rebase = group user/mimepp
	removeReviewer = group user/mimepp
	submit = group user/mimepp
[access "refs/heads/*"]
	read = group user/mimepp
	create = group user/mimepp
	push = +force group user/mimepp
	pushMerge = group user/mimepp
[access "refs/tags/*"]
	push = group user/mimepp
	push = +force group user/mimepp
